:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condesed" sans-serif;
}
.logo {
  width: 3.25rem;
}

nav a.nav-link {
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.0375em;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 3px solid var(--primary-dark);
  color: var(--primary-white) !important;
}
.navbar-brand {
  max-width: 3.25rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 3px solid var(--primary-orange);
}
